[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "pg-bulk-ingest"
version = "0.0.3"
authors = [
  { name="Department for International Trade", email="sre@digital.trade.gov.uk" },
]
description = "A collection of Python utility functions for ingesting data into SQLAlchemy-defined PostgreSQL tables, automatically migrating them as needed, and minimising locking"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "sqlalchemy>=1.4.0,<2.0.0", 
]

[project.optional-dependencies]
dev = [
    "pytest>=7.2.1",
    "psycopg2-binary>=2.8.6",
]

[project.urls]
"Source" = "https://github.com/uktrade/pg-bulk-ingest"

[tool.hatch.build]
include = [
  "pg_bulk_ingest.py"
]
